{:mvn/repos {"central" {:url "https://maven-central-eu.storage-download.googleapis.com/repos/central/data/"}}
 :deps      {org.clojure/clojure {:mvn/version "1.10.1"}
             org.clojure/math.numeric-tower {:mvn/version "0.0.4"}}}
